.confirmation-page {
    padding: 56px;
    display: flex;
}

.success-image {
    height: 100px;
    object-fit: cover;
}

.success-container {
    flex: 1;
    margin-left: 76px;
}

@media only screen and (max-width: 480px) {
    .confirmation-page {
        padding: 4px;
        flex-direction: column;
    }

    .success-container {
        margin-left: 0;
        text-align: center;
        margin-bottom: 16px;
    }
}
