.confirmation-container {
    height: 100%;
    border: 1px solid gainsboro;
    border-radius: 12px;
}

.confirmation-description {
    padding: 12px;
}

.confirmation-image {
    width: 400px;
    height: 300px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

@media only screen and (max-width: 480px) {
    .confirmation-image {
        width: 100%;
    }
}
