.vibe-container {
    margin-top: 24px;
    max-height: 500px;
    display: flex;
    gap: 12px;
}

.video-container {
    flex: 3;
    height: 500px;
    position: relative;
}

.images-wrapper {
    flex: 1;
}

.video-element {
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    object-fit: cover;
}

.vibe-description {
    width: 160px;
    top: 30px;
    margin-left: 20px;
    gap: 20px;
    justify-content: center;
    border: 2px solid white;
    align-items: center;
    position: absolute;
}

.vibe-switch {
    margin-left: 24px;
    padding: 12px;
    bottom: 20px;
    position: absolute;
    background: white;
    color: black;
}

.listing-column-1 img{
    max-width: 300px;
}

.listing-image {
    margin-left: 12px;
    height: 500px;
}

.listing-image img {
    max-height: 240px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .vibe-container {
        flex-direction: column;
    }

    .video-container {
        width: 100%;
    }

    .video-element {
        border-radius: 24px;
    }
}
