.card-image {
    height: 350px;
    width: 100%;
    border-radius: 8px;
}

.favorite {
    position: absolute;
    top: 20px;
    right: 20px;
}

.favorite:hover {
    scale: 1.2;
}

.image-container {
    position: relative;
}

.vibe-card {
    padding: 12px;
}

.vibe-card:hover {
    scale: 1.01;
}

.card-description {
    gap: 8px;
}
